<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">用户管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>用户管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <button id="document-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
        </div>
        <table class="layui-table" id="document-table" lay-filter="document-table"></table>
    </div>
</div>

<!-- 表单弹窗 -->
<script type="text/html" id="document-model">
    <form id="document-form" lay-filter="document-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">文件描述</label>
            <div class="layui-input-block">
                <input name="desc" placeholder="请输入文件描述" type="text" class="layui-input" maxlength="20"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件标题</label>
            <div class="layui-input-block">
                <input name="title" placeholder="请输入文件标题" type="text" class="layui-input" maxlength="20"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件链接</label>
            <div class="layui-input-block">
                <input name="url" placeholder="请输入文件链接" type="text" class="layui-input" maxlength="20"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属菜单ID</label>
            <div class="layui-input-block">
                <input name="value" placeholder="请输入菜单ID" type="number" class="layui-input" maxlength="20"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary close" type="button">取消</button>
            <button class="layui-btn" lay-filter="document-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="document-table-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['form', 'table', 'util', 'config', 'admin'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var admin = layui.admin;

        // 渲染表格
        table.render({
            elem: '#document-table',
            url: config.base_server + 'document/query',
            method: 'post',
            where: {
                access_token: config.getToken().access_token
            },
            page: true,
            cols: [[
                {field: 'id', title: 'ID'},
                {field: 'desc', sort: true, title: '描述'},
                {field: 'title', sort: true, title: '名称'},
                {field: 'url', sort: true, title: '地址链接'},
                {field: 'value', sort: true, title: '菜单ID'},
                {align: 'center', toolbar: '#document-table-bar', title: '操作'}
            ]]
        });
        
        // 添加按钮点击事件
        $('#document-btn-add').click(function () {
            showEditModel();
        });

        // 表单提交事件
        form.on('submit(document-form-submit)', function (data) {
            layer.load(2);
            admin.req('document', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    table.reload('document-table');
                    layer.closeAll('page');
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, $('#document-form').attr('method'));
            return false;
        });

        // 工具条点击事件
        table.on('tool(document-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                doDelete(obj);
            }
        });

        // 显示编辑弹窗
        var showEditModel = function (data) {
            layer.open({
                type: 1,
                title: data ? '修改' : '添加',
                area: '450px',
                offset: '120px',
                content: $('#document-model').html(),
                success: function () {
                    $('#document-form')[0].reset();
                    $('#document-form').attr('method', 'POST');
                    if (data) {
                        form.val('document-form', data);
                        $('#document-form').attr('method', 'PUT');
                    }
                    $('#document-form .close').click(function () {
                        layer.closeAll('page');
                    });
                }
            });
        };

        // 删除
        var doDelete = function (obj) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('document/' + obj.data.id, {}, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                }, 'DELETE');
            });
        };
    });
</script>